
    .bubble {
      position: relative;
      background-color: #3B4054;
      padding: 10px;
      border-radius: 15px;
      margin: 5px 0 10px 5px;
    }

    .bubble.right {
        background-color: #EB7F3D25;
        color: #EB7F3D;
        border: 1px solid ;
        margin: 10px 10px 10px 0;
    }

    .bubble.left::before {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 0px; /* Adjust the position of the arrow */
      border: 10px solid transparent;
      border-top-color: #3B4054;
      border-left-color: #3B4054; /* Adjust the color of the arrow */
      rotate: 30deg;
    }

  .contact {
    text-decoration: none;
  }

   
    .clear {
      clear: both;
    }

    .largeavatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: auto auto 10px auto;
    }

    .avatar {
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-bottom: 3px;
      }

      .useravatar {
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background-color: #b7e6fc;
        margin-bottom: 3px;
        text-align: center;
      }


    .avimage {
        height: 75%; 
        width: auto; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);  
    }

    /* Just for demonstration purpose */
    .message-container {
      display: flex;
      flex-direction:row;
      align-items: flex-start;
    }

    .bubble-wrapper {
      display: flex;
    flex-direction: column;
      align-items:end;
    }

    .right-bubble-wrapper {
        display: flex;
        flex-direction: column;
        align-items:end;
        float: right;
      }
