html {
	background-color: #8c1b1a;
}

.pizza-header {
	background-color: #BE2827;
	border-bottom: 1px solid white;
	padding: 15px;
	width: 100vw;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	max-width: 100%;
	z-index: 10;
	box-shadow: 0px 7px 15px #5e0f0e;
	align-items: center;
	margin-bottom: 25px;
}

hr {
	border: 1px solid white;
	opacity: 50%;
	box-shadow: none;
	margin: 15px 0 15px 0;
}

.pizza-logo {
	height: 100px;
	width: auto;
background-color: white;
padding: 15px;
border-radius: 0%;
box-shadow: none;
margin: 15px auto 5px auto;
}

.pizza-content {
	width: 90vw;
	margin: 0 auto;
}

@media only screen and (min-width: 600px) {

	/* For desktop: */
	.pizza-content {
		min-width: 540px;
		max-width: 50vw;
		margin: 0 auto;
	}

	.endcredits {
		min-width: 540px;
		max-width: 50vw;
		margin: 0 auto;
	}
}

h2, h3, h4, h5 {
	color: white;
}

h3, h4 {
	opacity: 0.85;
}

/* unvisited link */
a:link {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}

/* mouse over link */
a:hover {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}

/* click on link */
a:active {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}

/* visited link */
a:visited {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}

a:visited:hover {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}



.pizza-footer {
	background-color: #BE2827;
	border-top: 1px solid white;
	padding: 10px 10px 10px 20px;
	margin-top: 50px;
	width: 100vw;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	max-width: 100%;
	z-index: 9;
	box-shadow: 0px -7px 15px #470908;
}