html {
  min-width: 40vw;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  width: fill-available;
}

.oldenburg-regular {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-size: 1.25em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
 background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}



img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove unwanted spacing below the image */
}

.container {
  position: relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.bottom-left{
  position: absolute;
  bottom: -1em; 
  left: 0.5em;
  z-index: 10;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0.5em;
}

.overlay-text {
	line-height: 1em;
	font-size: 7.25vw;
	font-weight: bold;
}

h1 {
	font-family: "Oldenburg", system-ui;
	font-size: 9.5vw;
	margin: 0 auto;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
}

h2 {
	font-family: "Oldenburg", system-ui;
	text-transform: uppercase;
	line-height: 1em;
    margin: 0;
}

h5 {
	font-size: 0.5em;
	margin: 0 1em;
}


p {
 margin: auto 0.5em;
}

@media (prefers-color-scheme: dark) {
	.selectedbutton {
		background: rgba(255,255,255,0.9);
	}
	
	html {
		background: #000000;
	}
	
	body {
				background: #000000;
	}
}

.masked-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Avoid extra space below image */
  clip-path: url(#polygon-mask); /* Apply the SVG clipping mask */
  -webkit-clip-path: url(#polygon-mask); /* Ensure compatibility with WebKit browsers */
}


@media only screen and (min-width: 700px) {
	
	.overlay-text {
	line-height: 1em;
	font-weight: bold;
	font-size: 1.75em;
	}

	h1 {
		font-size: 5vw;
	}
	
	
	h5 {
	
		margin: 0;
	}
	
	html {
		min-width: 540px;
			max-width: 50vw;
			margin: 0 auto;
	}
	
	.container {
		  margin-bottom: 1.5em;
	}
	
	.bottom-left{
		position: absolute;
	  bottom: -.75em; 
	left: 0;
	
	}
	
	.top-right {
	  position: absolute;
	  top: 0.5em;
	  right: 0;
	}
	
	p {
		margin: 0;
	}
	
	.bio {
		max-width: 75%;
	}
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
text-align: center;
row-gap: 1px;
column-gap: 1px;
}

/* Main grid container */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 items per row */
  gap: 3px; /* Spacing between images */
  margin-top: .5em;
}

/* Grid images */
.image-grid img {
  width: 100%; /* Full width of the grid cell */
  aspect-ratio: 1; /* Force images to be square */
  object-fit: cover; /* Crop the image to fill the square */
  object-position: top center; /* Anchor the crop to the top-center */
}

/* Main grid container */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 items per row */
  gap: 3px; /* Spacing between images */
  margin-top: .5em;
}

/* Grid images */
.photo-grid img {
  width: 100%; /* Full width of the grid cell */
  aspect-ratio: 1; /* Force images to be square */
  object-fit: cover; /* Crop the image to fill the square */
  object-position: center; /* Anchor the crop to the top-center */
}


.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 items per row */
  gap: 3px; /* Spacing between images */
  margin-top: .5em auto;
}


.media-grid img {
  width: 100%; /* Full width of the grid cell */
  aspect-ratio: 1; /* Force images to be square */
  object-fit: contain; /* Crop the image to fill the square */
}

.section3 {
	margin: 0.5em auto;
}

.book-grid {
	  display: grid;
        grid-template-columns: 1fr 1fr 1fr;

  justify-content: center;
  gap: 3px; /* Spacing between images */
  margin: .5em auto;
}

.section2 {
margin: 0.5em auto;
}

#movies-container {
	
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3px;
      justify-content: center;
    }
    .movie img {
      width: 100%;
    }



a {
	text-decoration: none;
}

.section-block {
  display: flex; /* Enables Flexbox */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  text-align: center;
  font-weight: bold;
  width: 100%; /* Full width of the grid cell */
  aspect-ratio: 1; /* Force blocks to be square */
  object-position: center; /* Anchor the crop to the top-center */
  
}

.section-block img {
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: contain; /* Ensures the image fits within the block without cropping */
   object-position: center; /* Anchor the crop to the top-center */
}


hr {
	opacity: 30%;
}

small {
	font: 0.75em;
	font-weight: bold;
	margin: 0 1em;
}

h3 {
	margin: 0 0.75em;
}

.title-container {
	 display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em auto;
	  max-width: 50vw;
  }

.text-container {
      text-align: left; /* Aligns text to the left */
    }

.circle-mask {

  min-width: 150px;
  width: 150px;
  min-height: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

.circle-mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio {
	display:flex;
max-width: 90%;
margin: 1em auto;
}

.button-container {
	text-align: center;
	font-size: 2em;
	 -webkit-appearance: none;
    -moz-appearance: none;
}

.selectedbutton {
	 background-color: CanvasText;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
	border-radius: 15px;
	filter:saturate(1)
}

.buttonoff {
	background: none;
	opacity: 0.5;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  filter: saturate(0)
}

