body {
background: linear-gradient(0deg, #52B4E9 0%, #000000 100%);
font-family: Helvetica;
text-align: left;
padding: 25;
color: white;
}

h1 {
 font-family: Georgia;
 font-weight: bolder;
 text-align: center;
} 

h2 {
 font-family: Georgia;
 text-align: center;
} 

img {
 border-radius: 15;
}

button {
 padding: 5px;
 background: white;
 border-radius: 5px;
 color: #52B4E9;
}