html {
	background:
		linear-gradient(180deg, rgba(var(--shade), 1), rgba(var(--bg), 1) 96em),
		rgba(var(--bg), 1);
	background-size: 96em, 0;
	background-position: center;
	background-repeat: repeat-x;
	font-synthesis: none;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	margin: auto;
	display: flex;
	min-height: 100vh;
}

body {
font-family: Helvetica;
font-size: 1.25em;
padding: 2em 1em;
	min-width: 0;
	max-width: 32em;
	margin: auto;
	transition: font-size 1s;
display:table-cell; 
vertical align: middle;
color: black;
height: 100%
background-size:cover;
  background-color: #FEFCE5;
background: linear-gradient(#FEFCE5, #9EBCC7);
background-repeat: no-repeat;
  background-attachment: fixed;
}


h1 {
 font-family: "Rubik Scribble", system-ui;
	margin: 0.25em 0;
	font-size: 2.25em;
	line-height: 2.25em;
} 

h2 {
opacity: 75%;
margin: 0.5em 0;
}

h3 {
 opacity: 75%;
margin: 1em 0 0.5em 0;
}

h5 {
 opacity: 75%;
  margin: 1.5em 0 0 0;
}

.blog-title {
font-size: 2em;
 font-family: Shantell Sans, ExtraBold;
 line-height: 0em;
 width:95%;
}

.blog-subtitle {
font-size: 0.8em;
opacity: 75%;
line-height: 0em;
width: 95%
}

p {
 line-height: 1.5em;
}

img {
display: block;
margin: auto;
 max-width: 95%;
margin-left: auto;
margin-right: auto;
    max-height:1000px;
        border-radius: 15px;
        box-shadow: 0em 0.2em 0.2em 0em gray;
}

#logo-image img {
  
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: #52B4E9;
}

/* mouse over link */
a:hover {
  color: #52B4E9;
}
.caption {
font-size: smaller;
font-style: italic;
text-align: center;
}

.yt-embd {
  display: block;
width: 95%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 16/9;
}

.avatar {
	width: 0.5em;
	height: 0.5em;
	margin: -0.125em 0.25em 0 0;
	display: inline-block;
	vertical-align: middle;
	transition: 0.25s;
	left: revert;
	border-radius: revert;
	box-shadow: none;
}
