
.grid {
			display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            justify-items: center;
			margin: 0 0.5em;
        }
        .grid img {
            width: 100px;
            height: 100px;
        }
		
		@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

h3 {
	 font-family: 'VT323', monospace;
	font-weight: bold;
}
		
.bio-text {
    font-family: 'VT323', monospace;
	font-weight: bold;
	text-align: left;
	font-size: 0.7em;
	line-height: 1.5em;
	display:flex;
	flex-direction:row;
	align-items:center;
	margin:0.5em auto 0 auto;
}

hr {
	color:red;
	
}

a:link {
	color: rgba(255, 0, 0, 0.6);
}

	a:visited {
	color: rgba(255, 0, 0, 0.6);
}

.bio {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:0 auto;
}

.trainer-photo {
border-radius: 5px;
width:100%;
max-width:400px;
	height:auto;
	box-shadow: 0px 3px 5px #333;
}

.badge-container {
	position: absolute;
	bottom:-7px;
	display:flex;
	flex-direction: row;
	width: 80%;
	max-width:400px;
	margin: 0.5em auto 1em auto;
	justify-content: center;
}

.badge{
	width: 13%;
	margin: 0 0.25em;
}


.pokemon-info {
		text-align: center;
	margin: 1em auto;
}
		
.trainer-card {
	display:flex;
	flex-direction:column;
	position: relative;
	align-items:center;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.retro {
    font-family: 'VT323', monospace;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	margin: 0.5em auto;
}